{% extends "layout.html" %}
{% block content %}

<h3 class="text-center">User List</h3>
<hr>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        {% if list %}
        {% for user in list %}
        <tr>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>


            <td>
                
                <a href="/delete/{{user[0]}}" class="btn btn-danger">Delete</a>
            </td>

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>

</table>


{% endblock content %}