<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>REGISTER</title>
</head>
<body>
    <div class="container text-left">
        Create an account
        <div class="inputbox-login-user" id="login-user">
            <form method="POST" action="/register">
                <div class="form-group">
                    <input class="form-control user" name="username" placeholder="" required>
                    <input class="form-control user" name="password" placeholder="" required>
                    <button class="btn btn-primary" id="user-submit" type="submit">Register</button>
                </div>
            </form>
        </div>
        Already have an account? <a href="/">Log in here</a>
    </div>
</body>
</html>